/* */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


body {
	padding: 0;
	margin: 0;
	background: #000;
}

/* tenho de arrumar acentralização*/
#rodape {
	width: 100%;
	background: #ffffff;
	text-align: center;
	color: blue;
	position: fixed;
	bottom: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-left: 3%;

}

.msgUn {
	width: 100PX;
	height: 100px;
	display: inline-block;
	border: 3px solid rgba(176, 47, 180, 0.678);
	color: #fff;
	text-align: center;
	line-height: 100px;
	text-align: center;
	margin: 15px;
	border-radius: 25px;
	font-size: 16px;


}

.msgUnHover {
	transform: scale(1.25);
	transition: transform 1.5s ease-in-out, background-color 1.5s ease;
	color: #000;

}

.msgTextPrincipal {
	color: #fff;
	width: 750px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	text-shadow: 0.1em 0.1em 0.15em #fa7f72;
}

/*ESTILO 01*/
#bodyMsg01 {
	background: #fa8072af;
}

#containerMsg01 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: auto;
	margin: 0 auto;
}

.msg01 {
	margin-top: 120px;
	color: #fff;
	font-size: 25px;
	font-family: 'Tilt Neon', cursive;
}

img {
	max-height: 450px;
	width: auto;
}

.spanmsg01 {
	font-size: 30px;
	background-image: linear-gradient(to right, #000000, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*ESTILO 02*/




/*ESTILO 03*/




/*ESTILO 04*/




/*ESTILO 05*/




/*ESTILO 06*/